
PE_Products/Analysis/Datasets/new_old.dta
PE_Products/Analysis/jf_files/new_old_1000.dta
PE_Products/Analysis/jf_files/upc_data_matched_best1_allstores_shortv2.dta
PE_Products/Analysis/jf_files/product1.dta
PE_Products/Analysis/jf_files/stores_firms0.dta
PE_Products/Analysis/jf_files/competition_all.dta
PE_Products/Analysis/jf_files/firm_allstores_data1000.dta
PE_Products/Analysis/jf_files/temp_upc_names.dta
PE_Products/Analysis/jf_files/tempupc.dta
PE_Products/Analysis/jf_files/competition_sameparent.dta
PE_Products/Analysis/jf_files/competition_samedma.dta
PE_Products/Analysis/jf_files/stdev_data.dta
PE_Products/Analysis/jf_files/new_old.dta
PE_Products/Analysis/jf_files/firm1000_mktshare.dta
PE_Products/Analysis/jf_files/final_firm_category.dta
